body {
  font-family: sans-serif;
}

.drum-machine-wrapper {
  margin: 50px;
  padding: 50px 50px 40px;
  background-color: #313241;
  border-radius: 3px;
  display: inline-block;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo {
  font-size: 3em;
  color: #ee4300;
  float: right;
  margin-left: 100px;
}

.transport-label {
  color:white;
}

div#sound-selector button {
  background-color: white;
}

div#sound-selector button.sound-selected {
  background-color: black;
  color:white;
}

#sound-selector {
  padding-bottom: 10px;
}

.start-stop-btn {
  background-color: #d2b30d;
  padding: 10px;
}


.start-stop-btn.playing {
  background-color: #f6dc4f;
}

.clear-pattern {
  background-color: gray;
  padding: 10px;
}


.pads {
  clear: both;
}

.counter {
  height:10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  /*margin-right: 5px;*/
}

.counter-on, .pad-on {
  background-color: red;
}

.pad {
  padding: 5px 12px 35px;
  margin: 15px 5px;
  display: inline-block;
  background-color: #e1eac1;
  cursor: pointer;
}

.pad-red {
  background-color: #db0f00;
}

.pad-orange {
  background-color: #f37300;
}

.pad-yellow {
  background-color: #dfdb04;
}
